.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-image:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
}

.buttonSearch::before{
  background-image : url(https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_search_black_48dp.png);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
